.layer-8 {
  width: 260px;
  height: 100px;
  background-color: #adff2f;

  margin: 0 auto;

  right: 0;
  left: 0;
  z-index: 6;
}

.layer-9 {
  width: 120px;
  height: 88px;
  background-color: var(--white);

  z-index: 7;
}

.layer-10 {
  width: 120px;
  height: 88px;
  background-color: var(--white);

  right: 0;
  z-index: 7;
}
